.warning {
    color: red;
    font-weight:bold;
}
.important {
    font-weight: bold;
}
.question {
    font-weight: bold;
    font-style: italic;
    display: block;
    margin-top:2em;
    margin-bottom:1em;
}

body {
    margin:30px;
}
